<template>
    <div>
        <img class="center-block" src="/img/loading-1.gif" v-if="gettingCampaigns" />
        <div class="panel panel-primary" v-if="!gettingCampaigns ">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">
                    My Campaigns
                </h3>
                <button class="btn btn-info pull-right" data-toggle="modal" data-target="#newCampaignModal">Create a New Campaign</button>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body" >
                <div v-if="campaigns.length == 0">
                    <h3>You do not have any campaigns yet, let's build one!</h3>
                </div>
                <div class="col-md-4" v-for="campaign in campaigns"  v-else>

                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">{{campaign.campaign_name == null ? JSON.parse(campaign.asinJSON).ItemAttributes.Title : campaign.campaign_name}}</h4>
                            <h6 class="card-subtitle text-muted">{{campaign.status}}</h6>
                        </div>
                        <div class="card-block">
                            <img :src="JSON.parse(campaign.asinJSON).LargeImage.URL" width="100%" height="350px"/>
                            <br>
                            <br>
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group">
                                    <button @click="makeEditLink(campaign.id)" class="card-link btn btn-primary">Edit Campaign</button>
                                </div>
                            </div>
                            <br>
                            <div class="well" v-if="campaign.status == 'LAUNCHED'">
                                <h4 class="text-center" style="margin: 0 auto 20px;">Share!</h4>
                                <a onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" :href="JSON.parse(campaign.share_links).facebook" class="btn btn-social btn-block btn-facebook" ><i class="fa fa-facebook"></i> Facebook</a>
                                <a onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" :href="JSON.parse(campaign.share_links).twitter" class="btn btn-social btn-block btn-twitter" ><i class="fa fa-twitter"></i> Twitter</a>
                                <a onclick="window.open(this.href, 'mywin','left=20,top=20,width=400,height=650,toolbar=1,resizable=0'); return false;" :href="JSON.parse(campaign.share_links).gplus" class="btn btn-social btn-block btn-google" ><i class="fa fa-google"></i> GPlus</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade-scale" id="newCampaignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Create a New Campaign</h4>
                    </div>
                    <div class="modal-body">
                        <h5>To get started, what is the Amazon ASIN of the product you would like to distribute?</h5>
                        <input v-model="newCampaign.ASIN" class="form-control"/>
                        <h5>Next, make a name for your campaign so you can identify it later.</h5>
                        <input v-model="newCampaign.name" class="form-control" required/>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" @click="submitASIN()">
                            <span v-if="loading">
                                <i class="fa fa-btn fa-spinner fa-spin"></i>Looking Up ASIN
                            </span>
                            <span v-else>
                                <i class="fa fa-btn fa-check-circle"></i>Start Building
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade-scale" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Create a New Campaign</h4>
                    </div>
                    <div class="modal-body">
                        <h4 class="text-success">Found: {{newCampaignJSON.Item.ItemAttributes.Title}} <small>{{newCampaignJSON.Item.ASIN}}</small></h4>
                        <br>

                        <img :src="newCampaignJSON.imageURL" width="100%" height="550px"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" @click="createCampaign()">
                            <span v-if="loading">
                                <i class="fa fa-btn fa-spinner fa-spin"></i>Creating
                            </span>
                            <span v-else>
                                <i class="fa fa-btn fa-check-circle"></i>Start Building
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade-scale" id="newCampaignModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create a New Campaign</h4>
                    </div>
                    <div class="modal-body">
                        <h5>To get started, will the product for this campaign be sold on any of the following?</h5>
                        <select class="form-control" v-model="newCampaign.newSource">
                            <option value="Ebay">Ebay</option>
                            <option value="Amazon">Amazon</option>
                            <option value="Etsy">Etsy</option>
                            <option value="WooCommerce">WooCommerce</option>
                            <option value="Shoppify">Shoppify</option>
                        </select>
                        <h5>What would you like to name this campaign for future reference?</h5>
                        <input v-model="newCampaign.newName" class="form-control"/>
                        <h5>What is the full URL of where your product can be found now?</h5>
                        <input v-model="newCampaign.productURL" class="form-control"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" @click="createCampaign()">
                            <span v-if="loading">
                                <i class="fa fa-btn fa-spinner fa-spin"></i>Creating
                            </span>
                            <span v-else>
                                <i class="fa fa-btn fa-check-circle"></i>Start Building
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade-scale" id="status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" >Calculate Status for {{status.promo_title}}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <tr>
                                <td>Coupons Uploaded?</td>
                                <td>{{status.coupons.length > 0 ? "Yes" : "No"}}</td>
                            </tr>
                            <tr>
                                <td>Features Setup?</td>
                                <td>{{status.features.length > 0 ? "Yes" : "No"}}</td>
                            </tr>
                        </table>

                        <div v-if="this.status.ready">
                            <h2 class="text-center text-success"><b>You are READY TO LAUNCH!</b></h2>
                        </div>
                        <div v-if="this.status.launched">
                            <h2 class="text-center text-danger"><b>You are LAUNCHED!</b></h2>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-danger pull-right" v-if="status.ability='ready'" @click="launch(status.id)" :disabled="loading">
                            <span v-if="launching">
                                <i class="fa fa-btn fa-spinner fa-spin"></i>Launching
                            </span>
                            <span v-else>
                                <i class="fa fa-btn fa-check-circle"></i>Launch
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</template>

<script>
    export default {
        data: function(){
            return{
                campaigns: [],
                newCampaign: {},
                status: {
                    coupons: {},
                    features: {},
                    ability: '',
                    ready: false,
                    launched: false,
                },

                loading: false,
                launching: false,
                responseData: {},
                previewImage: '',
                title: '',
                listPrice: '',
                gettingCampaigns: true,
                newCampaignJSON: {
                    Item: {
                        ItemAttributes: {
                            Title: ''
                        }
                    },
                    imageURL: '',
                    title: ''
                },

            }
        },
        mounted: function(){
           this.getCampaigns();
        },
        methods:{
            getCampaigns(){
                this.$http.get('/api/campaigns').then((response) => {
                    this.campaigns = response.data;
                    this.gettingCampaigns = false;
                });
            },
            submitASIN(){
                this.loading = true;
                this.$http.post('/api/asinQuery', JSON.stringify(this.newCampaign)).then((response) => {
                    this.loading = false;
                    $('#newCampaignModal').modal('hide');
                    if(response.data.Product.Request.Errors){
                        swal({
                          title: "Uh oh!",
                          text: "Looks like we could not find a product with that ASIN. Please check it and try again.",
                          type: "error",
                          confirmButtonText: "Try Again"
                        }, function(){
                            $('#newCampaignModal').modal('show');
                        });
                    }else{
                        this.newCampaignJSON = response.data.Product;
                        //this.newCampaignJSON.imageURL = response.data.Product.Item.ImageSets.ImageSet[0].LargeImage.URL;
                        this.newCampaignJSON.title = response.data.name;
                        $('#previewModal').modal('show');
                    }

                }, (response) =>{
                    sweetAlert("Oops...", "Something went wrong!", "error");
                    this.loading = false;
                });
            },

            createCampaign(){
                this.loading = true;

                this.$http.post('/api/createCampaign', JSON.stringify(this.newCampaignJSON)).then((response) => {
                        this.loading = false;
                        console.log(response.data);
                        swal({
                          title: "Campaign Created",
                          text: "Congrats, you are one step closer to launching your next campaign.",
                          type: "success",
                          confirmButtonText: "Continue",
                          closeOnConfirm: false
                        },
                        function(){
                          location.href="/campaign/"+response.data+"/edit#/general";
                        });

                }, (response) =>{
                    sweetAlert("Oops...", "Something went wrong!", "error");
                    this.loading = false;
                });
            },
            makeEditLink(id){
                location.href= '/campaign/' + id + '/edit#/general';
            },
            getStatus(id){
                $('#status').modal('show');
                this.$http.get('/api/campaignWithCoupons/'+ id).then((response) => {
                    this.status = response.data;
                    if(this.status.coupons.length > 0 && this.status.features.length > 0 && this.status.status == "READY TO LAUNCH"){
                        this.status.ready = true;
                    }
                });
            },
            launch(id){
                this.launching = true;
                this.$http.get('/api/launch/'+ id).then((response) => {
                    if(this.status.coupons.length > 0 && this.status.features.length > 0 && this.status.email_address != null && this.status.img_url != null && this.status.status == "LAUNCHED"){
                        this.status.launched = true;
                    }
                    this.launching = false;
                });
            }
        }
    }
</script>
<style>
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
.col-md-4:nth-child(3n+1){
    clear:left
}

</style>

