<template>
    <div >
        <div class="col-md-4" v-for="campaign in allCampaigns" >
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{campaign.campaign_name}} - {{campaign.discount_price | currency}}</h4>
                    <h6 class="card-subtitle text-muted">Only {{campaign.claimed}} coupons left!</h6>
                </div>
                <img :src="campaign.img_url" height="300px" alt="Card image" width="100%" class="center-block">
                <div class="card-block">
                    <p class="card-text">{{campaign.email_subject}}</p>
                    <a v-on:click="doThat(campaign.promo_url)"  class="btn btn-block btn-primary">Get My Coupon</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function(){
            return{
                allCampaigns: []
            }
        },
        mounted: function(){
            this.getLaunchedCampaigns();
        },
        methods:{
            getLaunchedCampaigns: function(){
                this.$http.get('/api/allCampaigns').then((response) =>{
                    this.allCampaigns = response.data;
                })
            },
            doThat: function(id){
                location.href="/getcoupon/" + id;
            }
        }
    }
</script>
<style>

</style>