<template>
    <div class="block">
        <h2 class="title">Control Your Campaign</h2>
        <p>There are several options regarding your campaign. The minimum requirements are that you upload a logo and some coupons.</p>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-12">
                <h3>Logo </h3>
                <hr>
                <div v-if="campaigndata.logo_url == ''">
                    <h4>Your campaign needs a logo uploaded. <a href="#/general" class="btn btn-warning pull-right">Click Here</a></h4>
                </div>
                <div v-else>
                    <h4>You have successfully uploaded your logo. <span v-if="campaigndata.logo_url !== ''" class="pull-right"><i class="fa fa-3x fa-check-circle" style="color:limegreen;"></i></span></h4>
                </div>
                <br>
                <br>

                <h3>Coupons </h3>
                <hr>
                <div v-if="campaigndata.status == 'NEEDS COUPONS'">
                    <h4>Your campaign needs coupons uploaded. <a href="#/coupons" class="btn btn-warning pull-right">Click Here</a></h4>
                </div>
                <div v-else>
                    <h4>You have successfully uploaded {{campaigndata.coupons.length}} coupons. <span v-if="campaigndata.coupons.length > 0" class="pull-right"><i class="fa fa-3x fa-check-circle" style="color:limegreen;"></i></span></h4>
                </div>
                <br>
                <br>

                <h3>Status</h3>
                <hr>
                <div v-if="campaigndata.status == 'READY TO LAUNCH'">
                    <h4>Your campaign is ready to launch. <button @click="launchCampaign()" class="btn btn-danger pull-right">Click Here To Launch</button></h4>
                </div>
                <div v-if="campaigndata.status == 'LAUNCHED'">
                    <h4>Currently your campaign is
                        <span class="text-info">{{campaigndata.status}}</span>
                        <button @click="pauseCampaign()" class="btn btn-info pull-right">Click Here To Pause Campaign</button>
                    </h4>
                    <div class="clearfix"></div>
                    <h4>Share this campaign with the world!
                        <span class="pull-right">
                            <a onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="btn btn-social btn-facebook" :href="share.facebook"><i class="fa fa-facebook"></i> Facebook</a>
                            <a onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="btn btn-social btn-twitter" :href="share.twitter"><i class="fa fa-twitter"></i> Twitter</a>
                            <a onclick="window.open(this.href, 'mywin','left=20,top=20,width=400,height=650,toolbar=1,resizable=0'); return false;" class="btn btn-social btn-google" :href="share.gplus"><i class="fa fa-google"></i> GPlus</a>
                        </span>
                    </h4>
                </div>
                <div v-if="campaigndata.status == 'PAUSED'">
                    <h4>Currently your campaign is
                        <span class="text-info">{{campaigndata.status}}</span>
                        <button @click="launchCampaign()" class="btn btn-danger pull-right">Click Here To Re-Launch Campaign</button>
                    </h4>
                </div>

                <br>
                <br>
                <div class="well">
                    <h3>Other Actions</h3>
                    <hr>

                    <!--<div class="row">-->
                        <!--<div class="col-md-7">-->
                            <!--<h3>Duplicate This Campaign</h3>-->
                            <!--<h4>We can make an exact copy of this campaign for you. You cannot change the ASIN.</h4>-->
                        <!--</div>-->
                        <!--<div class="col-md-5">-->
                            <!--<button @click="duplicate()" class="btn btn-lg btn-info-outline pull-right">Duplicate Campaign?</button>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<hr>-->

                    <div class="row">
                        <div class="col-md-7">
                            <h4>Delete</h4>
                            <h5>This action is irreversible, are you sure?</h5>
                        </div>
                        <div class="col-md-5">
                            <button @click="deleteModal()" class="btn btn-lg btn-danger-outline pull-right">Delete Campaign?</button>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
</template>

<script>
    export default {
        props: ['campaignid'],
        data: function(){
            return{
                loading: false,
                campaigndata: {
                    coupons: {}
                },
                share: {
                    facebook: '',
                    gplus: '',
                    twitter: '',
                },
            }
        },
        mounted: function(){
            this.getCampaign();
        },

        methods:{
            getCampaign(){
                this.makeBlock();
                this.$http.get('/api/campaignWithCoupons/' + this.campaignid).then((response) => {
                    this.campaigndata = response.data;
                    if(this.campaigndata.status == "LAUNCHED"){
                        this.getShare();
                    }else{
                        this.unblock();
                    }

                }, (response) => {
                    console.log(response);
                });
            },
            getShare(){
                this.$http.get('/api/getShare/' + this.campaignid).then((response) => {
                    console.log(response.data);
                    this.share = response.data;
                    this.unblock();
                })
            },
            launchCampaign(){
                var self = this;
                swal({
                  title: "Are you ready?",
                  text: "Once you launch your campaign it will be available to the masses!",
                  type: "info",
                  showCancelButton: true,
                  confirmButtonColor: "limegreen",
                  confirmButtonText: "Yes, launch it!",
                  closeOnConfirm: false,
                  showLoaderOnConfirm: true,
                },
                function(){
                    self.$http.get('/api/launch/' + self.campaignid).then((response) => {

                            self.getCampaign();
                            self.share = response.data;
                            console.log(self.share);
                             swal({
                              title: "Success",
                              text: "Your Campaign is Launched <br> Share: <a class='facebookshare' target='_blank' href=" + response.data.facebook+">Facebook</a> <a class='gplusshare' target='_blank' href=" + response.data.gplus+">GPlus</a> <a class='twittershare' target='_blank' href=" + response.data.twitter+">Twitter</a>",
                              type: "success",
                              html: true
                            })
                    })

                });
            },
            deleteModal(){
                var self = this;
                swal({
                      title: "Are you sure?",
                      text: "You will not be able to recover this campaign!",
                      type: "warning",
                      showCancelButton: true,
                      confirmButtonColor: "#DD6B55",
                      confirmButtonText: "Yes, delete it!",
                      closeOnConfirm: false,
                      showLoaderOnConfirm: true,
                },
                function(){
                  self.$http.get('/api/deleteCampaign/' + self.campaignid).then((response) => {
                        if(response.data == "success"){
                            self.getCampaign();
                             swal({
                              title: "Success",
                              text: "Your Campaign has been deleted",
                              type: "success",
                            },
                            function(){
                                location.href="/home";
                            })
                        }
                    })
                });
            },
            pauseCampaign(){
                var self = this;
                    swal({
                      title: "Pause?",
                      text: "Are you sure you want to pause this campaign?",
                      type: "info",
                      showCancelButton: true,
                      confirmButtonColor: "limegreen",
                      confirmButtonText: "Yes, pause it!",
                      closeOnConfirm: false,
                      showLoaderOnConfirm: true,
                    },
                    function(){
                        self.$http.get('/api/pause/' + self.campaignid).then((response) => {
                            if(response.data == "success"){
                                self.getCampaign();
                                 swal({
                                  title: "Success",
                                  text: "Your Campaign is Paused",
                                  type: "success",
                                })
                            }
                        })

                    });
            },

            makeBlock(){
                $('div.block').block({
                    message: '<img src="/img/loading-3.gif" />',
                    css: { top: '10%' },
                    overlayCSS:  {
                        backgroundColor: '#fff',
                        opacity:         0.8,
                        cursor:          'wait'
                    },
                });
            },
            unblock(){
                $('div.block').unblock();
            }
        }
    }
</script>
<style>
h3{margin-top:0px;}
.row{margin-bottom:15px;}
</style>