<template>
    <div class="block">
        <h2 class="title">Email Settings</h2>
        <div class="row">
            <div class="col-md-4">
                <p class="text-justify">Email 'From' Name:</p>
            </div>
            <div class="col-md-8">
                <input v-model="campaigndata.email_name" class="form-control"/>
                <p class="help-block">Example: ABC Store Inc.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-justify">Email 'From' Address:</p>
            </div>
            <div class="col-md-8">
                <input v-model="campaigndata.email_address" class="form-control"/>
                <p class="help-block">Example: john@abcstoreinc.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-justify">Email Subject:</p>
            </div>
            <div class="col-md-8">
                <input v-model="campaigndata.email_subject" class="form-control"/>
                <p class="help-block">Example: ABC Stores Coupon - Just For You!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-justify">Facebook Name</p>
            </div>
            <div class="col-md-8">
                <input v-model="campaigndata.facebook" class="form-control"/>
                <p class="help-block">Example: abcstore - leave blank if none.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-justify">Twitter Name</p>
            </div>
            <div class="col-md-8">
                <input v-model="campaigndata.twitter" class="form-control"/>
                <p class="help-block">Example: abcstore - leave blank if none.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-justify">Personalize a message to your coupon recipients.</p>
            </div>
            <div class="col-md-8">
                <textarea v-model="campaigndata.campaign_email_body" class="form-control"></textarea>
                <p class="help-block">Email body</p>
            </div>
        </div>
        <div class="row">
            <div class=" pull-right" role="group" aria-label="...">
            <button class="btn btn-info" data-toggle="modal" data-target="#preview"><span><i class="fa fa-btn fa-eye"></i> Preview Email</span></button>
            <button class="btn btn-primary " v-on:click="submitData()" :disabled="loading">
                <span v-if="loading">
                    <i class="fa fa-btn fa-spinner fa-spin"></i>Storing Changes
                </span>
                <span v-else>
                    <i class="fa fa-btn fa-check-circle"></i>Make Changes
                </span>
            </button>
            </div>
        </div>
        <div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Email Preview</h4>
                    </div>
                    <div class="modal-body">
                        <p><i>This is an approximate preview</i></p>
                        <p class="bold">From: {{campaigndata.email_name}} <{{campaigndata.email_address}}>
                        <p class="bold">Subject: {{campaigndata.email_subject}}</p>
                        <div v-if="campaigndata.campaign_logo_url != null">
                            <img :src="campaigndata.campaign_logo_url" class="center-block" width="25%"/>
                        </div>
                        <div v-else>
                            <h5 class="bold text-danger">Please upload a logo in the "General Options" tab.</h5>
                        </div>
                        <img ng-if="campaigndata" :src="campaigndata.img_url == null ? deafaultImage : campaigndata.img_url" width="100%"  alt="Card image" class="center-block" />
                        <div class="text-center">
                            {{campaigndata.campaign_email_body}}
                        </div>
                        <br>
                        <button class="btn btn-lg btn-primary center-block">Claim Your Coupon Now!</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</template>

<script>
    export default {
        props: ['campaignid'],
        data: function(){
            return{
                loading: false,
                campaigndata: {},
                deafaultImage: ''
            }
        },
        mounted: function(){
            this.getCampaign();
        },
        methods:{
            getCampaign: function(){
                this.makeBlock();
                this.$http.get('/api/campaign/' + this.campaignid).then((response) => {
                    this.campaigndata = response.data;
                    this.gettingCampaign = false;
                    this.deafaultImage = JSON.parse(this.campaigndata.asinJSON).ImageSets.ImageSet[0].LargeImage.URL;
                    this.unblock();
                }, (response) => {
                    console.log(response);
                });
            },
            submitData: function(){
                this.loading = true;
                this.$http.post('/api/updateCampaign', JSON.stringify(this.campaigndata)).then((response) => {
                    this.loading = false;
                    this.campaigndata = response.data;
                    $.toast({
                        position : 'bottom-center',
                        bgColor : '#4eb76e',
                        text : "<h2>Campaign Successfully updated!</h2>",
                        showHideTransition : 'slide',
                        hideAfter : 5000,
                    })
                }, (response) => {
                    console.log(reponse.data);
                    this.loading = false;
                });

            },
            makeBlock: function(){
                $('div.block').block({
                    message: '<img src="/img/loading-3.gif" />',
                    css: { top: '10%' },
                    overlayCSS:  {
                        backgroundColor: '#fff',
                        opacity:         0.6,
                        cursor:          'wait'
                    },
                });
            },
            unblock: function(){
                $('div.block').unblock();
            }
        }
    }
</script>
<style>
.bold{font-weight:bold;}
</style>