<template>
    <div class="block">
        <h2 class="title">Features</h2>
        <div class="row">
            <div class="col-md-4">
                <p class="text-justify">
                    If you would like to display some features of your product to entice shoppers to purchase, add them here.
                </p>

                <button class="btn btn-primary btn-block" @click="submitData()" :disabled="loading">
                    <span v-if="loading">
                        <i class="fa fa-btn fa-spinner fa-spin"></i>Storing Changes
                    </span>
                            <span v-else>
                        <i class="fa fa-btn fa-check-circle"></i>Make Changes
                    </span>
                </button>
                <br>
                <p>Restore original features from Amazon?</p>
                <button class="btn btn-primary btn-block" @click="populateFeatures()" :disabled="loading">
                    <span v-if="loading">
                        <i class="fa fa-btn fa-spinner fa-spin"></i>Restoring Features
                    </span>
                    <span v-else>
                        <i class="fa fa-btn fa-check-circle"></i>Restore Original Features
                    </span>
                </button>
            </div>

            <div class="col-md-8">
                <div v-for="(item, index) in features">
                    <div class="col-md-10">
                        <div >
                            <textarea v-model="features[index]" style="height: 150px;"  class="form-control"></textarea>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-danger"  @click="deleteFeature(index)"><i class="fa fa-btn fa-trash-o"></i> Delete</button>
                    </div>
                </div>
                <div class="col-md-10">
                    <button class="btn btn-info btn-block" @click="addFeature()"><i class="fa fa-btn fa-plus-circle"></i> Add Another Feature</button>
                </div>
            </div>

        </div>
    </div>


</template>

<script>
    export default {
        props: ['campaignid'],
        data: function(){
            return {
                loading: false,
                campaigndata: {},
                features: [],
                loadingfeatures: false,
            }
        },
        mounted: function(){
            this.getCampaign();
        },

        methods:{
            getCampaign: function(){
                this.makeBlock();
                this.$http.get('/api/campaign/' + this.campaignid).then((response) => {
                    this.campaigndata = response.data;

                    if(_.isNull(this.campaigndata.features)|| this.campaigndata.features == []){
                        this.features = (JSON.parse(this.campaigndata.asinJSON).ItemAttributes.Feature);
                        this.submitData();
                    }else{
                        this.features = JSON.parse(this.campaigndata.features);
                    }
                    this.gettingCampaign = false;
                    this.unblock();
                }, (response) => {

                });
            },
            populateFeatures: function(){
                this.features = (JSON.parse(this.campaigndata.asinJSON).ItemAttributes.Feature);
                this.submitData();
            },
            submitData: function(){
                this.loading = true;
                this.$http.post('/api/updateNewFeatures/' + this.campaignid, {data: JSON.stringify(this.features)}).then((response) => {
                    this.loading = false;
                    $.toast({
                        position : 'bottom-center',
                        bgColor : '#4eb76e',
                        text : "<h2>Campaign Successfully updated!</h2>",
                        showHideTransition : 'slide',
                        hideAfter : 5000,
                    })
                }, (response) => {
                    this.loading = false;
                });

            },
            addFeature: function(){
                this.features.push("Add another feature of your product here...");
                this.submitData();
            },
            deleteFeature: function(index){
                this.features.splice(index, 1);
                this.submitData();
            },
            makeBlock: function(){
                $('div.block').block({
                    message: '<img src="/img/loading-3.gif" />',
                    css: { top: '10%' },
                    overlayCSS:  {
                        backgroundColor: '#fff',
                        opacity:         0.8,
                        cursor:          'wait'
                    },
                });
            },
            unblock: function(){
                $('div.block').unblock();
            }
        }
    }
</script>
<style>
.bold{font-weight:bold;}
</style>