<template>
    <div class="block">
        <h2 class="title">Featured Image</h2>
        <div class="row">
            <div class="col-md-4">
                <p class="text-justify">Upload up to 5 images to be displayed for your product.</p>
                <form action="/upload-target" class="dropzone" id="myDrop"></form>
                <div class="side-corner-tag">
                    <img :src="campaigndata.img_url" width="100%" />
                    <p ><span>Selected</span></p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="col-md-4"  v-for="image in images">
                    <img :src="image" width="100%" @click="makeFeaturedImage(image)" style="cursor:pointer;"/>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
    export default {
        props: ['campaignid'],
        data: function(){
            return{
                loading: false,
                campaigndata: {},
                images: [],

            }
        },
        mounted: function(){
            this.getCampaign();
            this.initDrop();
        },
        computed:{

        },
        methods:{
            getCampaign: function(){
                this.makeBlock();
                this.$http.get('/api/campaign/' + this.campaignid).then((response) => {
                    this.campaigndata = response.data;
                    this.gettingCampaign = false;
                    if(this.campaigndata.images != null){
                        var images = JSON.parse(this.campaigndata.images);
                    }
                    this.unblock();
                }, (response) => {
                    console.log(response);
                });
            },
            initDrop: function(){
                var self = this;
                new Dropzone("form#myDrop", {
                    url: "/api/uploadImages/" + this.campaignid,
                    method: "post",
                    headers: { 'X-XSRF-TOKEN': Cookies.get('XSRF-TOKEN') },
                    paramName: 'image',
                    complete: function(data){
                        console.log(data);
                        self.getCampaign();
                    }
                })
            },
            submitData: function(){
                this.loading = true;
                this.$http.post('/api/updateCampaign', JSON.stringify(this.campaigndata)).then((response) => {
                    this.loading = false;
                    this.campaigndata = response.data;
                    $.toast({
                        position : 'bottom-center',
                        bgColor : '#4eb76e',
                        text : "<h2>Campaign Successfully updated!</h2>",
                        showHideTransition : 'slide',
                        hideAfter : 5000,
                    })
                }, (response) => {
                    console.log(reponse.data);
                    this.loading = false;
                });

            },
            makeFeaturedImage: function(index){
                for(var i; i < this.images.length; i++){
                    if(this.images[i].isFeatured == true){
                        this.images[i].isFeatured = false;
                    }

                }
                this.images[index].isFeatured = true;

                this.$http.post('/api/makeFeaturedImage/' + this.campaignid, {"value": index, "url": this.images[index].LargeImage.URL}).then((response) => {
                    this.getCampaign();
                    $.toast({
                        position : 'bottom-center',
                        bgColor : '#4eb76e',
                        text : "<h2>Campaign Successfully updated!</h2>",
                        showHideTransition : 'slide',
                        hideAfter : 5000,
                    })
                }, (response) => {
                    this.loading = false;
                });
            },
            makeBlock: function(){
                $('div.block').block({
                    message: '<img src="/img/loading-3.gif" />',
                    css: { top: '10%' },
                    overlayCSS:  {
                        backgroundColor: '#fff',
                        opacity:         0.3,
                        cursor:          'wait'
                    },
                });
            },
            unblock: function(){
                $('div.block').unblock();
            }

        }
    }
</script>
<style>

</style>