<template>
    <div class="block">
        <h2 class="title">MailChimp/Aweber/CSV</h2>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-4">
                <h3>MailChimp</h3>
                <p class="text-justify">Paste your MailChimp API key and click Fetch MailChimp Lists, then select which list you would like to use for this campaign.</p>
                <div v-if="campaigndata.mc_list_name != ''">
                    <h4>Selected List: {{campaigndata.mc_list_name}}</h4>
                </div>
            </div>
            <div class="col-md-8">
                <div class="col-md-6">
                    <input v-model="campaigndata.mc_api_key" class="form-control"/>
                    <p class="help-block">MailChimp API Key:</p>
                    <button class="btn btn-primary btn-block" v-on:click="sendMC()" :disabled="loading">
                        <span v-if="loading">
                            <i class="fa fa-btn fa-spinner fa-spin"></i>Getting MC Lists
                        </span>
                                <span v-else>
                            <i class="fa fa-btn fa-check-circle"></i>Fetch MC Lists
                        </span>
                    </button>
                </div>
                <div class="col-md-6" v-if="mc_lists.length > 0">
                    <select v-model="selected_mc_list" class="form-control">
                        <option v-for="list in mc_lists" :value="{'id': list.id, 'name': list.name}">{{list.name}}</option>
                    </select>
                    <p class="help-block">Select A List:</p>
                    <button class="btn btn-primary btn-block" v-on:click="sendMCList()" :disabled="loading">
                        <span v-if="settingList">
                            <i class="fa fa-btn fa-spinner fa-spin"></i>Setting List
                        </span>
                        <span v-else>
                            <i class="fa fa-btn fa-check-circle"></i>Set List
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h3>Aweber</h3>
                <p class="text-justify">Click the buttonbelow to login to Aweber - we will automatically retrieve your lists for you.</p>
                <a v-if="campaigndata.aweber_secret == null" target="_blank" :href="'/campaigns/' + this.campaignid + '/authorizeaweber'" class="btn btn-primary">Click To Authorize Aweber</a>
                <div v-if="campaigndata.aweber_list_name != null">
                    <h4>Selected List: {{campaigndata.aweber_list_name}}</h4>
                </div>
            </div>
            <div class="col-md-8">
                <div class="col-md-6">
                    <select v-model="selected_aweber_list" class="form-control">
                        <option v-for="list in aweberLists" :value="{'id': list.id, 'name': list.name}">{{list.name}}</option>
                    </select>
                    <p class="help-block">Select A List:</p>
                    <button class="btn btn-primary btn-block" @click="sendAweberList()" :disabled="loading">
                            <span v-if="settingAList">
                                <i class="fa fa-btn fa-spinner fa-spin"></i>Setting List
                            </span>
                        <span v-else>
                                <i class="fa fa-btn fa-check-circle"></i>Set List
                            </span>
                    </button>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>


</template>

<script>
    export default {
        props: ['campaignid'],
        data: function(){
            return{
                loading: false,
                settingList: false,
                settingAList: false,
                campaigndata: {},
                mc_lists: [],
                selected_mc_list: [],
                selected_aweber_list: [],
                aweberLists: [],
            }
        },
        mounted: function(){
            this.getCampaign();
        },
        computed:{

        },
        methods:{
            getCampaign: function(){
                this.makeBlock();
                this.$http.get('/api/campaign/' + this.campaignid).then((response) => {
                    this.campaigndata = response.data;
                    this.gettingCampaign = false;
                    if(this.campaigndata.aweber_secret != ''){
                        this.getAweberLists();
                    }else{
                        this.unblock();
                    }
                }, (response) => {
                    console.log(response);
                });
            },
            sendMC: function(){
                this.loading = true;
                this.$http.post('/api/setMC/' + this.campaignid, JSON.stringify({"mc-api": this.campaigndata.mc_api_key})).then((response) => {
                    this.loading = false;
                    this.mc_lists = response.data;
                    $.toast({
                        position : 'bottom-center',
                        bgColor : '#4eb76e',
                        text : "<h2>MailChimp API Key Successfully Uploaded - Now Select A List</h2>",
                        showHideTransition : 'slide',
                        hideAfter : 5000,
                    })
                }, (response) => {
                    console.log(reponse.data);
                    this.loading = false;
                });

            },
            sendMCList: function(){
                this.settingList = true;
                this.$http.post('/api/setMCList/' + this.campaignid, JSON.stringify({"mc-list": this.selected_mc_list.id, "mc-list-name": this.selected_mc_list.name})).then((response) => {
                    this.settingList = false;
                    this.mc_lists = response.data;
                    $.toast({
                        position : 'bottom-center',
                        bgColor : '#4eb76e',
                        text : "<h2>MailChimp List Selected: " + response.data +"</h2>",
                        showHideTransition : 'slide',
                        hideAfter : 5000,
                    })
                }, (response) => {
                    console.log(reponse.data);
                    this.loading = false;
                });


            },
            getAweberLists: function(){
                this.$http.get('/api/getAweberList/' + this.campaignid).then((response) => {
                    this.aweberLists = response.data;
                    this.unblock();
                }, (response) => {
                    console.log(response);
                });
            },
            sendAweberList: function(){
                this.settingAList = true;
                this.$http.post('/api/setAweberList/' + this.campaignid, JSON.stringify({"aw-list": this.selected_aweber_list.id, "aw-list-name": this.selected_aweber_list.name})).then((response) => {
                    this.settingAList = false;
                    this.aw_list = response.data;
                    $.toast({
                        position : 'bottom-center',
                        bgColor : '#4eb76e',
                        text : "<h2>Aweber List Selected: " + response.data.aweber_list_name +"</h2>",
                        showHideTransition : 'slide',
                        hideAfter : 5000,
                    });
                    this.getCampaign();

                }, (response) => {
                    console.log(reponse.data);
                    this.loading = false;
                });
            },
            makeBlock: function(){
                $('div.block').block({
                    message: '<img src="/img/loading-3.gif" />',
                    css: { top: '10%' },
                    overlayCSS:  {
                        backgroundColor: '#fff',
                        opacity:         0.8,
                        cursor:          'wait'
                    },
                });
            },
            unblock: function(){
                $('div.block').unblock();
            }
        }
    }
</script>
<style>
h3{margin-top:0px;}
.row{margin-bottom:15px;}
</style>