<template>
    <div class="block">
        <h2 class="title">Tracking/Analytics</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>Retargeting Pixel</h3>
                <p class="text-justify">Paste in your favorite retargeting pixel, this will be added to your landing page so that you can retarget your customers.</p>
            </div>
            <div class="col-md-8">
                <textarea style="height:130px;" v-model="campaigndata.retargeting_pixel" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Conversion Pixel</h3>
                <p class="text-justify">Paste in your Facebook conversion pixel, this will be added to your customers coupon page (once they claim it).</p>
            </div>
            <div class="col-md-8">
                <textarea style="height:130px;" v-model="campaigndata.pixel" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Analytics Tracking Code</h3>
                <p class="text-justify">Paste in your Google Analytics tracking code snippet (the whole thing). This will be added to your landing page.</p>
            </div>
            <div class="col-md-8">
                <textarea style="height:130px;" v-model="campaigndata.analytics" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary pull-right" v-on:click="submitData()" :disabled="loading">
                <span v-if="loading">
                    <i class="fa fa-btn fa-spinner fa-spin"></i>Storing Changes
                </span>
                <span v-else>
                    <i class="fa fa-btn fa-check-circle"></i>Make Changes
                </span>
            </button>
        </div>
    </div>


</template>

<script>
    export default {
        props: ['campaignid'],
        data: function(){
            return{
                loading: false,
                campaigndata: {},
            }
        },
        mounted: function(){
            this.getCampaign();
        },
        computed:{

        },
        methods:{
            getCampaign: function(){
                this.makeBlock();
                this.$http.get('/api/campaign/' + this.campaignid).then((response) => {
                    this.campaigndata = response.data;
                    this.gettingCampaign = false;
                    this.unblock();
                }, (response) => {
                    console.log(response);
                });
            },
            submitData: function(){
                this.loading = true;
                this.$http.post('/api/updateCampaign', JSON.stringify(this.campaigndata)).then((response) => {
                    this.loading = false;
                    this.campaigndata = response.data;
                    $.toast({
                        position : 'bottom-center',
                        bgColor : '#4eb76e',
                        text : "<h2>Campaign Successfully updated!</h2>",
                        showHideTransition : 'slide',
                        hideAfter : 5000,
                    })
                }, (response) => {
                    console.log(reponse.data);
                    this.loading = false;
                });

            },
            makeBlock: function(){
                $('div.block').block({
                    message: '<img src="/img/loading-3.gif" />',
                    css: { top: '10%' },
                    overlayCSS:  {
                        backgroundColor: '#fff',
                        opacity:         0.3,
                        cursor:          'wait'
                    },
                });
            },
            unblock: function(){
                $('div.block').unblock();
            }
        }
    }
</script>
<style>
h3{margin-top:0px;}
.row{margin-bottom:15px;}
</style>