<template>
    <div class="block">
        <h2 class="title">Video</h2>
        <div class="row">
            <div class="col-md-4">
                <p class="text-justify">If you would like to feature a YouTube video on your landing page instead of an image, please provide the video ID of the video you would like featured (only works with YouTube). If you added your video ID the video should display on the right.</p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="campaigndata.use_video"> Show YouTube video on landing page?
                    </label>
                </div>
            </div>
            <div class="col-md-8">
                <iframe v-if="campaigndata.videoID != null" width="100%" height="350" :src="'https://www.youtube.com/embed/' + campaigndata.videoID" frameborder="0" allowfullscreen></iframe>
                <br>
                <input v-model="campaigndata.videoID" class="form-control" placeholder="Video ID (ie. CaYq9sX4zLs)"/>
            </div>
        </div>
        <br>
        <div class="row">
            <button class="btn btn-primary pull-right" @click="submitData()" :disabled="loading">
                <span v-if="loading">
                    <i class="fa fa-btn fa-spinner fa-spin"></i>Storing Changes
                </span>
                <span v-else>
                    <i class="fa fa-btn fa-check-circle"></i>Make Changes
                </span>
            </button>
        </div>
    </div>


</template>

<script>
    export default {
        props: ['campaignid'],
        data: function(){
            return{
                loading: false,
                campaigndata: {},
                images: [],

            }
        },
        mounted: function(){
            this.getCampaign();
        },
        methods:{
            getCampaign: function(){
                this.makeBlock();
                this.$http.get('/api/campaign/' + this.campaignid).then((response) => {
                    this.campaigndata = response.data;
                    this.gettingCampaign = false;
                    var imageSet = JSON.parse(this.campaigndata.asinJSON).ImageSets.ImageSet;
                    this.campaigndata.featured_image_index == null ? imageSet[0].isFeatured = true :imageSet[this.campaigndata.featured_image_index].isFeatured = true;
                    this.images = imageSet;
                    this.unblock();
                }, (response) => {
                    console.log(response);
                });
            },
            submitData: function(){
                this.loading = true;
                this.$http.post('/api/updateCampaign', JSON.stringify(this.campaigndata)).then((response) => {
                    this.loading = false;
                    this.campaigndata = response.data;
                    $.toast({
                        position : 'bottom-center',
                        bgColor : '#4eb76e',
                        text : "<h2>Campaign Successfully updated!</h2>",
                        showHideTransition : 'slide',
                        hideAfter : 5000,
                    })
                }, (response) => {
                    console.log(reponse.data);
                    this.loading = false;
                });
            },
            makeBlock: function(){
                $('div.block').block({
                    message: '<img src="/img/loading-3.gif" />',
                    css: { top: '10%' },
                    overlayCSS:  {
                        backgroundColor: '#fff',
                        opacity:         0.8,
                        cursor:          'wait'
                    },
                });
            },
            unblock: function(){
                $('div.block').unblock();
            }
        }
    }
</script>
<style>

</style>